.flowbox p {
    margin: 0;
    padding: 0.5em;
    border-radius: .25em .25em 1em 1em;
}

.flowbox p.dark {
    color: var(--light-primary);
}

.fontsDemo > * {
    font-size: 1.25em;
    margin: 0
}

.fontsDemo > .focus {
    font-weight: 450;
}

.move {
    margin-left: 0;
    transition: margin-left 0.3s var(--transition);
}

.moved {
    margin-left: 10em;
}