.flowbox p {
    margin: 0;
    padding: 0.5em;
    border-radius: .25em .25em 1em 1em;
}

.flowbox p.dark {
    color: var(--light-primary);
}

.fontsDemo > * {
    font-size: 1.25em;
    margin: 0
}

.fontsDemo > .focus {
    font-weight: 450;
}

.motionDemo {
    border: 1px solid var(--light-secondary);
    padding: 0.1em 0;
    border-radius: 1em;
    height: 1.1em;
    max-width: 20em;
    margin: auto;
    text-align: left;
}

.motionDemo span {
    display: inline-block;
    width: 1em;
    height: 1em;
    background: var(--dark-secondary);
    border: 1px solid var(--light-secondary);
    border-radius: 1em;
    position: relative;
    left: 1.5em;
    transition: left 0.4s var(--transition);
}

.motionDemo span.move {
    left: 17.5em;
}